html body{ min-width: 300px; }

#gdlr-main-navigation{ display: block; }
#gdlr-responsive-navigation{ display: none; }

/*--- tablet ---*/
@media only screen and (max-width: 959px) {
	body .container{ max-width: 768px; }	
	body .body-wrapper.gdlr-boxed-style { max-width: 808px; }
	
	.flex-direction-nav .flex-prev,
	.flex-direction-nav .flex-next { opacity: 1; }
	
	.gdlr-header-wrapper .gdlr-logo{ float: none; margin: 20px auto; }
	.gdlr-header-wrapper .gdlr-navigation{ float: none; text-align: center; margin-top: 0px; }
	.gdlr-header-wrapper .gdlr-navigation > ul{ display: inline-block; float: none; }
	.gdlr-header-wrapper .gdlr-main-menu > li > a{ padding-bottom: 16px; }
	
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-volumn-bar { display: none; }
	
	/*--- event item ---*/
	.gdlr-widget-event .event-content-inner-wrapper { padding-right: 0px; }
	.gdlr-widget-event .event-content-wrapper .event-status-wrapper { position: static; 
		text-align: left; margin-top: 15px; }
		
	.gdlr-top-player .mejs-container .mejs-controls .gdlr-volumn-bar { display: none; }
	.gdlr-top-player .mejs-container .mejs-controls .gdlr-time-elapse { width: 1px; visibility: hidden; }		
}

/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {
	body .container{ max-width: 420px; }
	body .body-wrapper.gdlr-boxed-style { max-width: 460px; }
	body .body-wrapper{ overflow: hidden; }
	
	.one-ninth, .one-eighth, .one-seventh,.one-fifth,
	.two-fifth, .three-fifth, .four-fifth,
	.one, .two, .three, .four, .five, .six, .seven,
	.eight, .nine, .ten, .eleven, .twelve{ width: 100%; }	
	
	/*--- logo ---*/
	.gdlr-header-wrapper .gdlr-logo{ float: none; text-align: center; margin: 30px 15px; padding-right: 65px; }
	
	#gdlr-main-navigation{ display: none; }
	#gdlr-responsive-navigation { display: block; height: 0px; position: static; float: none; }
	#gdlr-responsive-navigation .dl-trigger{ position: absolute; right: 10px; top: -6px; }
	.dl-menuwrapper .dl-menu, .dl-menuwrapper > .dl-submenu{ margin: 0px 15px; width: 390px; }
	
	/*--- stunning-text ---*/
	.gdlr-stunning-text-item{ text-align: center; }
	.gdlr-stunning-text-item.type-normal.gdlr-button-on{ padding-right: 0px; }
	.gdlr-stunning-text-item.type-normal .stunning-text-button{ position: static; margin-top: 0px; }
	.gdlr-stunning-text-item.with-padding.gdlr-button-on{ padding-right: 35px; }
	
	html .woocommerce ul.products li.product, html .woocommerce-page ul.products li.product { width: 99% !important; }
	
	/*--- title item ---*/
	.gdlr-item-title-wrapper .gdlr-item-title { display: block !important; }
	.gdlr-item-title-wrapper .gdlr-separator { display: none !important; }
	.gdlr-item-title-wrapper .gdlr-item-caption { display: block !important; line-height: 1.3; }

	/*--- blog item ---*/
	.gdlr-blog-medium .gdlr-blog-thumbnail{ width: 100%; float: none; margin-bottom: 20px; margin-right: 0px; } 	
	
	/*--- event item ---*/
	.gdlr-event-counter-item .gdlr-event-counter .upcoming-event-day.time-box,
	.gdlr-event-counter-item .gdlr-event-counter .upcoming-event-hour.time-box { display: block; }
	
	.gdlr-list-event .event-date-wrapper,
	.gdlr-list-event .event-title,
	.gdlr-list-event .event-location { float: none; width: auto; margin-bottom: 10px; text-align: center; }
	.gdlr-list-event .event-status-wrapper { position: static; margin: 0px; clear: both; width: auto; }

	/*--- single page ---*/
	.gdlr-portfolio-style1 .gdlr-portfolio-description{ float: none; margin-right: 0px; width: auto; }
	.gdlr-portfolio-style1 .gdlr-portfolio-info{ width: auto; float: none; margin-bottom: 30px; }	
	.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail {
    max-width: 100%; float: none; margin-right: 0px; margin-left: 0px; width: auto !important;  }
	
	.gdlr-single-event .gdlr-event-info-wrapper{ width: auto; float: none; margin: 0px 0px 40px; }
	.gdlr-single-album .gdlr-album-info-wrapper{ width: auto; float: none; margin: 0px 0px 40px; }
	
	/*--- slider ---*/
	.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-text { display: none; }
	.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-title { margin-bottom: 0px; font-size: 15px; }
	.gdlr-caption-wrapper .gdlr-caption { max-width: 100%; padding: 13px 12px; }	 
	
	/*--- music player ---*/
	.gdlr-float-player .mejs-container { height: 140px !important; }
	.gdlr-float-player .mejs-container .mejs-controls { padding-top: 70px; }
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-play-control { position: absolute; top: 0px; left: 0px; }
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-hide-float-bar { position: absolute; 
		top: 0px; right: 0px; padding: 26px 12px; }
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-volumn-bar { display: none !important; }
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-download { position: absolute;
		right: 45px; top: 0px; background: transparent; width: 82px; padding-right: 0px; padding-top: 24px; }
	.gdlr-float-player .gdlr-top-player-download .top-player-list{ display: none !important; }
	.gdlr-float-player .gdlr-player-list { display: none !important; }
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse { display: none; }
	.gdlr-float-player .mejs-container .mejs-controls .mejs-time-rail { padding-right: 0px; padding-left: 55px;
		background: transparent; }	
	.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-thumbnail{ left: 0px; }
	
	.gdlr-open-float-player{ display: block; }
	.gdlr-float-player{ display: none; }
}

/*--- mobile portrait style ---*/
@media only screen and (max-width: 419px) {
	body .container{ max-width: 300px; }
	body .body-wrapper.gdlr-boxed-style { max-width: 340px; }
	
	.dl-menuwrapper .dl-menu, .dl-menuwrapper > .dl-submenu{ width: 270px; }
	.gdlr-blog-full .blog-date-wrapper{ display: none; }
}