/*
Theme Name: Music Club
Theme URI: http://themes.goodlayers2.com/musicclub
Description: Music Club Wordpress Theme
Author: Goodlayers
Author URI: http://www.goodlayers.com
Version: 1.00
License: 
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, Green, two-columns, fluid-layout, custom-backgrzound, custom-colors, featured-images, theme-options
Text Domain: gdlr_translate
*/

/*--- reset ---*/
/*--- reset5 Â© 2011 opensource.736cs.com MIT ---*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,
mark,menu,meter,nav,output,progress,section,summary,time,video{ border:0; outline:0; 
	font-size:100%; vertical-align:baseline; background:transparent; margin:0;padding:0; }
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{ display:block; }
nav ul{ list-style:none; }
ol{ list-style:decimal; }
ul{ list-style:disc; }
ul ul{ list-style:circle; }
blockquote,q{ quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{ content:none; }
ins{ text-decoration:underline; }
del{ text-decoration:line-through; }
mark{ background:none; }
abbr[title],dfn[title]{ border-bottom:1px dotted #000; cursor:help; }
table{ border-collapse:collapse;border-spacing:0; }
hr{ display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input[type=submit],input[type=button],button{ margin:0; padding:0;}
input,select,a img{ vertical-align:middle; }

b, strong{ font-weight: bold; }
i, em{ font-style: italic; }

/*--- clear ---*/
.clear{ display: block; clear: both; visibility: hidden; line-height: 0; height: 0; zoom: 1; }
.clear-fix{ zoom: 1; }
.clear-fix:after{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.gdlr-block-important{ display: block !important; }

/*--- wordpress core ---*/
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
.aligncenter { display: block; margin: 5px auto 5px auto; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0;}
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border-width: 1px; border-style: solid; max-width: 96%;
    padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
.sticky{}
.bypostauthor{}

.gallery-item .gallery-icon { margin-right: 10px; }
i{ margin-right: 5px; }
a{ text-decoration: none; }
p{ margin-bottom: 20px; }
ul, ol{ margin-bottom: 20px; margin-left: 30px; }
body { line-height: 1.7; font-family: Arial, Helvetica, sans-serif; 
	-webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3; margin-bottom: 18px; font-weight: bold; }	

/*----------------------------------------------------------------------*/
/*---------------             THEME STYLE             ------------------*/
/*----------------------------------------------------------------------*/

/*--- structure ---*/
.container{ padding: 0px; margin: 0px auto; position: relative; }
.column, .columns{ float: left; position: relative; min-height: 1px; }

.one-ninth{ width: 11.111%; }
.one-eighth{ width: 12.5%; }
.one-seventh{ width: 14.285%; }
.one-fifth{ width: 20%; }
.two-fifth{ width: 40%; }
.three-fifth{ width: 60%; }
.four-fifth{ width: 80%; }

.one{ width: 8.333% }
.two{ width: 16.666%; }
.three{ width: 25%; }
.four{ width: 33.333%; }
.five{ width: 41.666%; }
.six{ width: 50%; }
.seven{ width: 58.334%; }
.eight{ width: 66.667%; }
.nine { width: 75%; }
.ten { width: 83.334%; }
.eleven { width: 91.667%; }
.twelve{ width: 100%; }

.ie7 .sf-mega-section.three{ width: 24%; }

.gdlr-item{ margin: 0px 20px 20px; min-height: 1px; }
.gdlr-item-no-space{ margin-left: 20px; margin-right: 20px; }
.gdlr-item-no-space .gdlr-item.gdlr-album-item{ padding-right: 1px; padding-bottom: 1px; }
.gdlr-item-no-space .gdlr-item.gdlr-album-item, .gdlr-item-no-space .gdlr-item{ margin: 0px; }
.gdlr-item.gdlr-main-content { margin-bottom: 55px; }
.gdlr-item.gdlr-divider-item{ margin-bottom: 50px }
.section-container, .gdlr-item-start-content, .gdlr-parallax-wrapper, .gdlr-color-wrapper{ padding-top: 60px; }
.gdlr-color-wrapper, .gdlr-parallax-wrapper, .gdlr-full-size-wrapper{ padding-bottom: 40px; }
.gdlr-full-size-wrapper .gdlr-item,
.gdlr-full-size-wrapper .gdlr-item-no-space{ margin-left: 0px; margin-right: 0px; }

.ie7 .gdlr-item-start-content{ overflow: hidden; }

audio{ width: 100%; }
.mejs-container .mejs-controls .mejs-horizontal-volume-slider{ position: relative; clear: both; float: right; top: -31px; }
img, video{ max-width: 100%; height: auto; width: auto; /* for ie8 */ }
input[type="text"], input[type="email"], input[type="password"], textarea{ 
	border: 0px; outline: none; padding: 6px; max-width: 100%; }

/*--- transition / color animation  ---*/
a{
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;    /* FF3.7+ */
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;      /* Opera 10.5 */
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms; /* Saf3.2+, Chrome */ }

/*--- boxed style ---*/	
.body-wrapper.gdlr-boxed-style { margin: 0px auto;
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); }	
.body-wrapper{ position: relative; }
.body-overlay{ position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.gdlr-boxed-style .body-overlay{ opacity: 0.8; filter: alpha(opacity=80); }
	
img.gdlr-full-boxed-background{ min-height: 100%; min-width: 1024px;
  width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: -1; }

@media screen and (max-width: 1024px) {
  img.gdlr-full-boxed-background { left: 50%; margin-left: -512px; }
}

/*--- header ---*/
.gdlr-header-wrapper{ position: relative; z-index: 99; }
.gdlr-header-wrapper .gdlr-header-substitute{ position: relative; margin-bottom: -5px; z-index: 89; }
.gdlr-header-wrapper.gdlr-no-height .gdlr-header-inner{ position: absolute; top: 0px; left: 0px; right: 0px; z-index: 9999; }
.gdlr-header-wrapper.gdlr-no-height .gdlr-header-overlay{ opacity: 0.4; filter: alpha(opacity=40); }
.gdlr-header-wrapper .gdlr-header-top-gimmick{ height: 3px; background: url('images/header-gimmick.png'); }
.gdlr-header-wrapper .gdlr-header-bottom-gimmick{ height: 5px; background: url('images/header-bottom-gimmick.png'); }
.gdlr-header-wrapper .gdlr-header-overlay{ position: absolute; top: 0px; left: 0px; bottom: 5px; right: 0px; }
.gdlr-header-wrapper .gdlr-header-container{ position: relative; z-index: 97; }

.gdlr-header-wrapper .gdlr-header-inner.gdlr-fixed-menu{ position: fixed; top: 0px; left: 0px; right: 0px; z-index: 9999; }
.gdlr-header-wrapper .gdlr-header-inner.gdlr-fixed-menu .gdlr-logo img { width: auto; }
.gdlr-header-wrapper .gdlr-header-inner.gdlr-fixed-menu .gdlr-main-menu > li > a { padding-bottom: 22px; }
.gdlr-header-wrapper .gdlr-header-inner.gdlr-fixed-menu .gdlr-navigation-slide-bar{ display: none; }
.admin-bar .gdlr-header-wrapper .gdlr-header-inner.gdlr-fixed-menu{ top: 32px }

.gdlr-logo{ float: left; margin-left: 20px; margin-right: 20px; }
.gdlr-logo h1{ margin-bottom: 0px; line-height: 0; }
.gdlr-navigation{ float: right; margin-left: 20px; margin-right: 0px; }

.gdlr-page-title-wrapper { padding: 50px 0px 55px; position: relative; z-index: 88;
	background-image: url('images/page-title-background.jpg'); background-repeat: repeat; background-position: center 0px; }
.gdlr-no-height .gdlr-page-title-wrapper { padding-top: 145px; }
.gdlr-page-title-wrapper .gdlr-page-title-overlay{ position: absolute; background: #000;
	top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.4; filter: alpha(opacity=40); }
.gdlr-page-title-wrapper .gdlr-page-title-container{ position: relative; }
.gdlr-page-title-wrapper .gdlr-page-title{ font-size: 40px; margin: 0px 15px; font-weight: 700; }
.gdlr-page-title-wrapper .gdlr-page-caption{ font-size: 18px; margin: 10px 15px 0px; display: block; font-weight: normal; }
.gdlr-page-title-wrapper .gdlr-header-bottom-gimmick{ position: absolute; left: 0px; right: 0px; bottom: 0px; }
.gdlr-page-title-wrapper .gdlr-page-header-icon { position: absolute; top: 50%; left: 0px; margin-top: -34px; 
	border-width: 2px; border-style: solid; text-align: center; line-height: 1; padding: 22px; font-size: 25px; 
	width: 25px; height: 25px; -moz-border-radius: 36px; -webkit-border-radius: 36px; border-radius: 36px; }
.gdlr-page-title-wrapper .gdlr-page-header-icon i { margin: 0px; }
.gdlr-page-title-container.gdlr-with-icon .gdlr-page-title,
.gdlr-page-title-container.gdlr-with-icon .gdlr-page-caption{ padding-left: 90px; }

.content-wrapper{ position:relative; z-index: 89; }

/*--- header shortcode ---*/
.gdlr-heading-shortcode.with-background { padding: 8px 19px; display: inline-block; }
.gdlr-heading-shortcode i { margin-right: 10px; }

/*--- wrapper item ---*/
.gdlr-color-wrapper, 
.gdlr-parallax-wrapper{ overflow: hidden; background-position: center 0px; 
	background-repeat: repeat; position: relative; }
	
/*--- sidebar ---*/
.with-sidebar-container .with-sidebar-content{ float: right; }
.gdlr-widget-title { font-size: 23px; font-weight: 400; margin-bottom: 25px; margin-top: 6px; }
.gdlr-sidebar .gdlr-widget-title{ display: inline-block; padding-bottom: 8px; padding-right: 4px;
	border-bottom-width: 0px; border-bottom-style: solid; }
.widget.gdlr-widget { margin-bottom: 60px; }

/*--- stunning-text ---*/	
.gdlr-stunning-text-item{ position: relative; }

.gdlr-stunning-text-item.type-center{ text-align:center;  margin-bottom: 35px; }
.gdlr-stunning-text-item.type-center .stunning-text-title{ font-size: 40px; font-weight: normal; margin-bottom: 8px; }
.gdlr-stunning-text-item.type-center .stunning-text-button{ margin: 10px 0px 0px; }

.gdlr-stunning-text-item.type-normal.gdlr-button-on{ padding-right: 150px; }
.gdlr-stunning-text-item.type-normal .stunning-text-title{ font-size: 21px; margin-bottom: 10px; }
.gdlr-stunning-text-item.type-normal .stunning-text-button{ position: absolute; right: 0px; top: 50%; 
	margin-top: -22px; margin-right: 0px; }

.gdlr-stunning-text-item.with-padding{ padding: 30px 35px 10px; }
.gdlr-stunning-text-item.with-padding.with-border{ border-width: 3px; border-style: solid; }
.gdlr-stunning-text-item.with-padding.gdlr-button-on{ padding-right: 180px; }
.gdlr-stunning-text-item.with-padding .stunning-text-button{ right: 40px; }
.gdlr-stunning-text-item.with-padding .stunning-text-caption{ margin-bottom: 20px; }

/*--- footer ---*/
.footer-wrapper{ border-top-style: solid; border-top-width: 1px; position: relative; }
.footer-container{ padding-top: 70px; }
.ie7 .footer-wrapper{ overflow: hidden; }

.copyright-left { margin: 0px 15px; float: left; }
.copyright-right { margin: 0px 15px; float: right; }
.copyright-wrapper{ border-top-width: 1px; border-top-style: solid; }
.copyright-container{ padding: 15px 0px; }

/*--- shortcode ---*/
.gdlr-shortcode-wrapper { margin-left: -20px; margin-right: -20px; }

/*--- 404 page not found ---*/
.page-not-found-block { text-align: center; padding: 50px 50px 60px; margin: 50px 0px 50px; }
.page-not-found-block .page-not-found-title { font-size: 45px; line-height: 1; margin-bottom: 17px; }
.page-not-found-block .page-not-found-caption { font-size: 20px; margin-bottom: 35px; }
.page-not-found-block .page-not-found-icon { font-size: 89px; line-height: 1;  margin-bottom: 20px; }
.page-not-found-search { max-width: 300px; margin: 0px auto; }
.page-not-found-search  .gdl-search-form{ padding-right: 30px; }
.page-not-found-search  .gdl-search-form input[type="text"]{ padding: 12px 15px; font-size: 15px;
	border: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.page-not-found-search  .gdl-search-form input[type="submit"]{
	background-image: url('images/light/icon-search.png'); }
	
body.search .page-not-found-block{ margin-top: 0px; }
	
/*----------------------------------------------------------------------*/
/*---------------             CONTENT ITEM            ------------------*/
/*----------------------------------------------------------------------*/

/*--- item title ---*/
.gdlr-item-title-wrapper{ margin: 0px 20px 40px; position: relative; }
.gdlr-item-title-wrapper .gdlr-item-title{ margin-bottom: 0px; }
.gdlr-item-title-wrapper .gdlr-separator{ font-size: 29px; margin: 0px 14px; }
.gdlr-item-title-wrapper.pos-left .gdlr-item-title{ font-size: 29px; font-weight: normal; display: inline; }
.gdlr-item-title-wrapper.pos-left .gdlr-item-caption{ font-size: 20px; display: inline }
.gdlr-item-title-wrapper.pos-center{ text-align: center; }
.gdlr-item-title-wrapper.pos-center .gdlr-item-title{ font-size: 29px; font-weight: normal; display: inline; }
.gdlr-item-title-wrapper.pos-center .gdlr-item-caption{ font-size: 20px; display: inline; }
.gdlr-item-title-wrapper.pos-no-caption .gdlr-item-title{ font-size: 35px; 
	display: inline-block; *display: inline; zoom: 1; 
	padding-bottom: 1px; border-bottom-width: 4px; border-bottom-style: solid; font-weight: normal; }

.gdlr-item-title-wrapper{ line-height: 1px; }
.gdlr-item-title-wrapper > .nav-container{ position: absolute; right: 1px; bottom: 0px; }
.gdlr-item-title-wrapper .gdlr-right-text-link{ float: left; line-height: 24px; padding-top: 6px; }
.gdlr-item-title-wrapper.pos-left.gdlr-nav-container,
.gdlr-item-title-wrapper.pos-left.gdlr-right-text{ padding-right: 80px; }
.gdlr-item-title-wrapper.pos-left.gdlr-nav-container.gdlr-right-text{ padding-right: 160px; }
.gdlr-item-title-wrapper.pos-center.gdlr-nav-container{ padding-left: 80px; padding-right: 80px; }
.gdlr-item-title-wrapper.pos-none.gdlr-nav-container{ height: 30px; margin-bottom: 20px;}

/*--- accordion / toggle ---*/
.accordion-tab > .accordion-content{ display: none; }
.accordion-tab.active > .accordion-content{ display: block; }

.gdlr-accordion-item.style-1 .accordion-tab{ overflow: hidden; padding-bottom: 4px; }
.gdlr-accordion-item.style-1 .accordion-title{ padding: 9px; font-weight: bold; 
	font-size: 15px; line-height: 26px; margin-bottom: 0px; cursor: pointer; }
.gdlr-accordion-item.style-1 .accordion-title i{ margin-right: 15px; font-size: 10px; 
	width: 8px; height: 11px; padding: 8px 9px 7px; display: inline-block; }
.gdlr-accordion-item.style-1 .accordion-content{ padding-top: 18px; margin-left: 50px; }

.gdlr-accordion-item.style-2 .accordion-tab{ overflow: hidden; padding-bottom: 4px; }
.gdlr-accordion-item.style-2 .accordion-title{ padding-bottom: 16px; font-weight: bold; 
	font-size: 15px; line-height: 18px; margin-bottom: 0px; cursor: pointer; }
.gdlr-accordion-item.style-2 .accordion-title i{ margin-right: 15px; font-size: 18px;  }
.gdlr-accordion-item.style-2 .accordion-content{ margin-left: 29px;  }

/*--- button ---*/
.gdlr-button, input[type="button"], input[type="submit"]{ display: inline-block; font-size: 13px; 
	padding: 13px 21px; margin-bottom: 15px; margin-right: 5px;
	border-width: 0px; outline: none; cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	}
.gdlr-button.small{ font-size: 11px; padding: 8px 15px; }
.gdlr-button.large{ font-size: 15px; padding: 11px 23px; }
.gdlr-button.with-border{ border-bottom-width: 3px; border-bottom-style: solid; }
.gdlr-button .gdlr-icon { margin-right: 5px; }

/*--- column service ---*/
.gdlr-column-service-item .column-service-icon{ float: left; margin-right: 15px; 
	font-size: 18px; line-height: 18px; }
.gdlr-column-service-item .column-service-title{ overflow: hidden; font-weight: bold; margin-bottom: 20px;
	font-size: 18px; line-height: 18px; }

/*--- service with image ---*/	
.gdlr-service-with-image-item .service-with-image-thumbnail{ max-width: 190px; float: left; margin-right: 40px; }	
.gdlr-service-with-image-item .service-with-image-title{ font-size: 35px; margin-top: 25px; }	
.gdlr-service-with-image-item .service-with-image-content-wrapper{ overflow: hidden; }	

.gdlr-service-with-image-item.gdlr-right{ text-align: right; }
.gdlr-service-with-image-item.gdlr-right .service-with-image-thumbnail{ float: right; margin-left: 40px; margin-right: 0px; }
	
/*--- feature media ---*/		
.gdlr-feature-media-item{ text-align: center; }
.gdlr-feature-media-item .feature-media-thumbnail{ max-width: 500px; margin: 0px auto 50px; }	
.gdlr-feature-media-item .feature-media-title-wrapper{ margin-bottom: 25px; 
	position: relative; display: inline-block; padding: 12px 20px; overflow: hidden;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }	
.gdlr-feature-media-item .feature-media-title-overlay{ position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }	
.gdlr-feature-media-item .feature-media-title{ position: relative; font-size: 35px; font-weight: normal; margin: 0px; }	
.feature-media-content{ font-size: 14px; }
	
/*--- divider ---*/
.gdlr-divider{ border-bottom-width: 1px; border-style: solid; margin: 0px auto; max-width: 100%; }
.gdlr-divider.double{ height: 3px; border-top-width: 1px; }
.gdlr-divider.dotted{ border-style: dashed; }
.gdlr-divider.double-dotted{ height: 3px; border-top-width: 1px; border-style: dashed; }
.gdlr-divider.thick{ border-bottom-width: 3px; }

/*--- box with icon ---*/
.gdlr-box-with-icon-item{ text-align: center; padding: 40px 30px 20px; position: relative; }
.gdlr-box-with-icon-item > i{ font-size: 45px; display: inline-block; margin-bottom: 22px; margin-right: 0; }	
.gdlr-box-with-icon-item .box-with-icon-title{ font-size: 20px; margin-bottom: 20px; display: block; }	

.gdlr-box-with-icon-item.pos-left{ text-align: left; padding: 30px 40px 20px; }
.gdlr-box-with-icon-item.pos-left > i{ float: left; margin: 5px 25px 0px 0px; }

.gdlr-box-with-icon-item.type-circle .box-with-circle-icon{ padding: 18px; display: inline-block; 
	position: absolute; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.gdlr-box-with-icon-item.type-circle .box-with-circle-icon > i{ font-size: 22px; margin-right: 0; }	
.gdlr-box-with-icon-item.type-circle.pos-top{ padding-top: 50px; }
.gdlr-box-with-icon-item.type-circle.pos-top .box-with-circle-icon{ top: -30px; left: 50%; margin-left: -30px; }
.gdlr-box-with-icon-item.type-circle.pos-left{ margin-left: 40px; padding-left: 50px; }
.gdlr-box-with-icon-item.type-circle.pos-left .box-with-circle-icon{ left: -30px; top: 50%; margin-top: -30px; }

/*-- icon --*/
i.gdlr-icon { margin-right: 10px; }

/*--- frame ---*/
.gdlr-frame-shortcode{ line-height: 1; }
.gdlr-frame-shortcode.gdlr-align-left{ float: left; margin-right: 20px; margin-bottom: 20px; }
.gdlr-frame-shortcode.gdlr-align-right{ float: right; margin-left: 20px; margin-bottom: 20px; }
.gdlr-frame-shortcode.gdlr-align-center{ text-align: center; margin-bottom: 20px; }
.gdlr-frame-shortcode .gdlr-frame-caption{ display: block; text-align: center; margin-top: 15px; }

.gdlr-frame{ display: inline-block; max-width: 100%; position: relative; }
.gdlr-frame img{ display: block; }
.gdlr-frame.frame-type-border{ padding: 6px; border-style: solid; border-width: 1px; }
.gdlr-frame.frame-type-solid{ padding: 5px; }
.gdlr-frame.frame-type-rounded{ overflow: hidden; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.gdlr-frame.frame-type-circle{ overflow: hidden; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.gdlr-frame.frame-type-solid.frame-type-circle .gdlr-image-link-shortcode,
.gdlr-frame.frame-type-border.frame-type-circle .gdlr-image-link-shortcode{ overflow: hidden;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.gdlr-frame.frame-type-solid.frame-type-rounded .gdlr-image-link-shortcode,
.gdlr-frame.frame-type-border.frame-type-rounded .gdlr-image-link-shortcode{ overflow: hidden;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.gdlr-image-frame-item{ text-align: center; line-height: 1; }
.gdlr-image-frame-item .image-frame-item{ display: inline-block; }	
	
/*--- image link ---*/
.gdlr-image-link-shortcode{ position: relative; }
.gdlr-image-link-shortcode .gdlr-image-link-overlay{ position: absolute; top: 0px; right: 0px; 
	bottom: 0px; left: 0px; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
.gdlr-image-link-shortcode .gdlr-image-link-icon{ width: 26px; height: 26px; text-align: center;
	line-height: 26px; font-size: 26px; padding: 22px 22px; display: block; 
	position: absolute; top: 50%; left: 50%; margin-top: -33px; margin-left: -33px;
	-moz-border-radius: 37px; -webkit-border-radius: 37px; border-radius: 37px; filter: inherit; }	
.gdlr-image-link-shortcode .gdlr-image-link-icon i{ margin: 0px; }
.gdlr-image-link-shortcode .gdlr-image-link-icon i.icon-play{ padding-left: 1px; }	

/*--- content slider ---*/
.gdlr-content-slider-item .content-slider-item{ margin: 0px 20px; }
.gdlr-content-slider-item .content-slider-item:first-child{ margin-left: 0px; }

/*--- personnel ---*/	
.gdlr-personnel-item.carousel .personnel-item{ margin: 0px 20px; }
.gdlr-personnel-item.carousel.box-style .personnel-item{ padding-top: 35px; }
.gdlr-personnel-item.carousel .personnel-item:first-child{ margin-left: 0px; }
.gdlr-personnel-item-wrapper .gdlr-item-title-wrapper .gdlr-item-title{ font-size: 22px; font-weight: normal; }
.gdlr-personnel-item-wrapper .gdlr-item-title-wrapper.pos-center .gdlr-item-title { font-size: 34px; }
.personnel-content .gdlr-icon { margin-right: 5px; }


.gdlr-personnel-item.box-style .personnel-item-inner{ padding: 25px 30px; position: relative; }	
.gdlr-personnel-item.box-style .personnel-item-inner:after{ content: ''; height: 0px; width: 0px; 
	border: 12px solid transparent; position: absolute; right: 0px; bottom: -24px; }
.gdlr-personnel-item.box-style .personnel-info{ margin-top: 30px; text-align: center; }
.gdlr-personnel-item.box-style .personnel-author{ font-size: 21px; font-weight: bold; }	
.gdlr-personnel-item.box-style .personnel-author-image{ width: 65px; height: 65px; 
	position: absolute; left: 50%; top: -35px; margin-left: -35px;
	border-width: 3px; border-style: solid; overflow: hidden;
	-moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; }
.gdlr-personnel-item.box-style .personnel-position{ font-size: 15px; }	
.gdlr-personnel-item.box-style .personnel-content{ text-align: center; margin-top: 15px; }	
.gdlr-personnel-item.box-style .personnel-social{ text-align: center; font-size: 20px; margin-top: 14px; }	
.gdlr-personnel-item.box-style .personnel-social i{ margin: 0px 1px; }	

.gdlr-personnel-item.plain-style .personnel-item-inner{ padding: 25px 30px; position: relative; }	
.gdlr-personnel-item.plain-style .personnel-item-inner:after{ content: ''; height: 0px; width: 0px; 
	border: 12px solid transparent; position: absolute; right: 0px; bottom: -24px; }
.gdlr-personnel-item.plain-style .personnel-info{ margin-top: 20px; text-align: center; }
.gdlr-personnel-item.plain-style .personnel-author{ font-size: 21px; font-weight: bold; }	
.gdlr-personnel-item.plain-style .personnel-position{ font-size: 15px; }	
.gdlr-personnel-item.plain-style .personnel-content{ text-align: center; margin-top: 20px; }	
.gdlr-personnel-item.plain-style .personnel-social{ text-align: center; font-size: 22px; margin-top: 14px; }
.gdlr-personnel-item.box-style{ margin-top: 35px; }
.gdlr-personnel-item.plain-style .personnel-social i{ margin: 0px 5px 0px 0px; }	

/*--- pie chart ---*/
.gdlr-pie-chart-item { text-align: center; }
.gdlr-pie-chart-item .gdlr-chart{ margin: 0px auto 30px;  }
.gdlr-pie-chart-item .pie-chart-title{ font-size: 17px; font-weight: bold; }

/*--- skill bar ---*/
.gdlr-skill-bar-wrapper{ margin-bottom: 15px; }

.gdlr-skill-bar-wrapper .gdlr-skill-bar-progress{ width: 0; position: relative; }
.gdlr-skill-bar-wrapper.gdlr-size-small .gdlr-skill-bar-progress{ height: 8px; }
.gdlr-skill-bar-wrapper.gdlr-size-medium .gdlr-skill-bar-progress{ padding: 8px 0px; font-size: 15px; }
.gdlr-skill-bar-wrapper.gdlr-size-large .gdlr-skill-bar-progress{ padding: 14px 0px; font-size: 17px; }

.gdlr-skill-bar-wrapper .skill-bar-content{ font-weight: bold; }
.gdlr-skill-bar-wrapper.gdlr-size-small .skill-bar-content{ margin-bottom: 10px; display: block; font-size: 14px; }
.gdlr-skill-bar-wrapper.gdlr-size-small { margin-bottom: 20px; }
.gdlr-skill-bar-wrapper.gdlr-size-medium .skill-bar-content{ padding: 0px 16px; }
.gdlr-skill-bar-wrapper.gdlr-size-medium .skill-bar-content i{ position: absolute; font-size: 15px; 
	right: 8px; top: 50%; margin-top: -8px; }
.gdlr-skill-bar-wrapper.gdlr-size-large .skill-bar-content{ padding: 0px 22px; }
.gdlr-skill-bar-wrapper.gdlr-size-large .skill-bar-content i{ position: absolute; font-size: 25px; 
	right: 12px; top: 50%; margin-top: -13px;}

/*--- notification ---*/
.gdlr-notification{ padding: 13px; }
.gdlr-notification > i{ float: left; margin-right: 15px; margin-top: 3px; }
.gdlr-notification > .notification-content{ display: block; overflow: hidden; }
.gdlr-notification.color-background{ padding: 16px;}
.gdlr-notification.color-border{ border-width: 3px; border-style: solid; }

/*--- tab ---*/	
.gdlr-tab-item.horizontal > .tab-title-wrapper{ overflow: hidden; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title{ float: left; border-style: solid; border-width: 1px 1px 1px 0px;
	font-size: 13px; line-height: 19px; font-weight: bold; padding: 11px 20px; margin-bottom: 0px; cursor: pointer; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title:first-child{ border-left-width: 1px; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title i{ margin-right: 10px; }
.gdlr-tab-item.horizontal > .tab-title-wrapper .tab-title.active{ border-bottom-width: 0px; padding-bottom: 12px; }
.gdlr-tab-item.horizontal > .tab-content-wrapper{ margin-top: -1px; padding: 20px 20px 0px;
	border-width: 1px; border-style: solid; }
.gdlr-tab-item.horizontal > .tab-content-wrapper .tab-content{ display: none; }
.gdlr-tab-item.horizontal > .tab-content-wrapper .tab-content.active{ display: block; }
	
.gdlr-tab-item.vertical > .tab-title-wrapper{ float: left; margin-right: -1px; max-width: 40%; text-align: center; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title{ border-style: solid; border-width: 0px 1px 1px;
	font-size: 13px; line-height: 19px; font-weight: bold; padding: 11px 30px; margin-bottom: 0px; cursor: pointer; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title:first-child{ border-top-width: 1px; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title.active{ padding-bottom: 12px; border-right-width: 0px; }
.gdlr-tab-item.vertical > .tab-title-wrapper .tab-title i{ margin-right: 10px; }
.gdlr-tab-item.vertical > .tab-content-wrapper{ overflow: hidden; padding: 20px 20px 0px; 
	border-width: 1px; border-style: solid; }
.gdlr-tab-item.vertical > .tab-content-wrapper .tab-content{ display: none; }
.gdlr-tab-item.vertical > .tab-content-wrapper .tab-content.active{ display: block; }

.gdlr-tab-item.vertical.right > .tab-title-wrapper{ float: right; margin-left: -1px; margin-right: 0px; }
.gdlr-tab-item.vertical.right > .tab-title-wrapper .tab-title.active{ border-right-width: 1px; border-left-width: 0px; }

/*--- table ---*/
table{ width: 100%; text-align: center; }
table tr td{ padding: 15px 0px; border-bottom-width: 1px; border-bottom-style: solid; }
table tr th{ padding: 13px 0px; font-size: 16px; font-weight: normal; }
table.style-2{ border-spacing:2px; border-collapse:separate; }
table.style-2 tr td{ border-bottom-width: 0px; }

/*--- testimonial ---*/
.gdlr-testimonial-item.carousel .testimonial-item{ margin: 0px 20px; }
.gdlr-testimonial-item.carousel .testimonial-item:first-child{ margin-left: 0px; }
.gdlr-testimonial-item-wrapper .gdlr-item-title-wrapper .gdlr-item-title{ font-size: 34px; font-weight: normal; }
.gdlr-testimonial-item-wrapper .gdlr-item-title-wrapper.pos-left .gdlr-item-title{ font-size: 28px; }

.gdlr-testimonial-item.round-style .testimonial-item{ padding-bottom: 35px; }	
.gdlr-testimonial-item.round-style .testimonial-item-inner{ padding: 30px 30px 60px; position: relative;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }	
.gdlr-testimonial-item.round-style .testimonial-info{ margin-top: 15px; }
.gdlr-testimonial-item.round-style .testimonial-author{ font-weight: bold; }
.gdlr-testimonial-item.round-style .testimonial-author-image{ width: 65px; height: 65px; 
	position: absolute; left: 50%; bottom: -35px; margin-left: -35px;
	border-width: 3px; border-style: solid; overflow: hidden;
	-moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; }

.gdlr-testimonial-item.box-style .testimonial-item{ padding-bottom: 75px; }	
.gdlr-testimonial-item.box-style .testimonial-item-inner{ padding: 25px 30px; position: relative; }	
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ content: ''; height: 0px; width: 0px; 
	border: 12px solid transparent; position: absolute; right: 0px; bottom: -24px; }
.gdlr-testimonial-item.box-style .testimonial-info{ margin-top: 15px; text-align: right; }
.gdlr-testimonial-item.box-style .testimonial-author{ font-weight: bold; }
.gdlr-testimonial-item.box-style .testimonial-author-image{ width: 65px; height: 65px; 
	position: absolute; right: 34px; bottom: -75px; }	

.gdlr-testimonial-item.plain-style .testimonial-item { background-repeat: no-repeat; background-position: 0px 2px;
	background-image: url('images/dark/quote.png'); background-size: 34px 29px; padding-left: 60px; }	
.gdlr-testimonial-item.plain-style .testimonial-item-inner{ padding: 25px 30px; position: relative; }	
.gdlr-testimonial-item.plain-style .testimonial-item-inner:after{ content: ''; height: 0px; width: 0px; 
	border: 12px solid transparent; position: absolute; right: 0px; bottom: -24px; }
.gdlr-testimonial-item.plain-style .testimonial-info{ margin-top: 15px; text-align: right; }
.gdlr-testimonial-item.plain-style .testimonial-author{ font-weight: bold; }	
.gdlr-testimonial-item.plain-style.large{ font-size: 20px; }
.gdlr-testimonial-item.plain-style.large .testimonial-info{ font-size: 12px; }

/*--- block quote ---*/
blockquote{ background-repeat: no-repeat; background-position: 20px 24px; font-size: 18px; font-style: italic;
	background-image: url('images/dark/quote-small.png'); background-size: 24px 20px; padding: 20px 20px 0px 60px;
	border-bottom-width: 1px; border-top-width: 1px; border-style: solid; margin-bottom: 20px; }
blockquote.gdlr-align-left{ width: 33%; float: left; margin-right: 20px; margin-bottom: 20px; }
blockquote.gdlr-align-right{ width: 33%; float: right; margin-right: 20px; margin-bottom: 20px; }

/*--- dropcap ---*/
div.gdlr-dropcap{ margin-top: 2px; margin-bottom: 0px; margin-right: 7px; margin-left: 2px; float: left; font-size: 25px; font-size: 29px; 
	width: 32px; height: 32px; line-height: 30px; text-align: center; float: left; }
div.gdlr-dropcap.gdlr-type-circle{ -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; font-size: 18px; margin-right: 10px; }
	
/*--- styled box ---*/
.gdlr-styled-box-head-wrapper{ overflow: hidden; }
.gdlr-styled-box-head{ overflow: hidden; height: 40px; }
.gdlr-styled-box-corner{ float: right; height: 0px; width: 0px; border-style: solid;
	border-width: 0px 40px 40px 0px; border-right-color: transparent; }
	
.gdlr-styled-box-body{ padding: 50px 40px 25px; position: relative; }
.gdlr-styled-box-body.with-head{ padding-top: 5px; }
.gdlr-styled-box-body .gdlr-styled-box-head-wrapper{ overflow: hidden; }

.gdlr-styled-box-body.with-overlay{ border-width: 8px; border-style: solid; font-size: 15px; }
.gdlr-styled-box-body .gdlr-styled-box-content{ position: relative; }
.gdlr-styled-box-body .gdlr-styled-box-overlay{ position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;
	opacity: 0.85; filter: alpha(opacity:85); }

/*--- code item ---*/
.gdlr-code-item{ padding: 7px 15px; border-width: 1px; border-style: solid; overflow: hidden; }
.gdlr-code-item .gdlr-code-title{ font-weight: bold; cursor: pointer; }
.gdlr-code-item .gdlr-code-title i{ font-size: 9px; margin-right: 7px; }
.gdlr-code-item .gdlr-code-content{ padding: 8px 14px; display: none; line-height: 2; }
.gdlr-code-item.active .gdlr-code-content{ display: block; line-height: 2; }

/*--- process ---*/
.gdlr-process-wrapper .gdlr-process-tab{ padding-bottom: 10px; margin-bottom: 20px; position: relative; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-icon{ width: 24px; height: 24px; line-height: 24px;
	font-size: 22px; padding: 30px; overflow: hidden; border-width: 3px; border-style: solid;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-icon i{ margin-right: 0px; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-tab-content{ overflow: hidden; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ font-size: 21px; margin-bottom: 17px; font-weight: normal; }
.gdlr-process-wrapper .gdlr-process-tab .process-line{ position: absolute; }
.gdlr-process-wrapper .gdlr-process-tab .process-line .process-line-divider{ position: absolute;  }
	
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .gdlr-process-icon{ float: left; margin-right: 30px; text-align: center; }
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line{ top: 110px; bottom: 0px; left: 35px; width: 20px; }
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line .process-line-divider{ left: 50%; 
	margin-left: -1px; bottom: 5px; top: 0px; border-left-width: 1px; border-left-style: dashed; }
.gdlr-process-wrapper.gdlr-vertical-process .gdlr-process-tab .process-line .icon-chevron-down{ position: absolute; 
	bottom: 0px; margin: 0px; font-size: 20px; }

.gdlr-process-wrapper.gdlr-horizontal-process{ text-align: center; }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .gdlr-process-icon{ margin: 0px auto 30px;  }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line{ top: 35px; left: 50%; right: -50%; height: 20px; }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line .process-line-divider{ 
	left: 75px; right: 55px; top: 50%; margin-top: -1px; border-top-width: 1px; border-top-style: dashed; }
.gdlr-process-wrapper.gdlr-horizontal-process .gdlr-process-tab .process-line .icon-chevron-right{ position: absolute; 
	right: 50px; margin: 0px; font-size: 20px; }

/*----------------------------------------------------------------------*/
/*---------------               MEDIA ITEM            ------------------*/
/*----------------------------------------------------------------------*/
	
/*--- banner ---*/
.gdlr-banner-images ul.slides li{ margin: 0px 10px; }	
.gdlr-banner-images ul.slides li:first-child{ margin-left: 0px; }	
.gdlr-banner-description-item .gdlr-banner-title{ font-size: 23px; margin-bottom: 15px; font-weight: normal; }
.gdlr-banner-description-item .gdlr-banner-description{ margin-bottom: 25px;  }
.gdlr-banner-description-item .nav-container{ overflow: hidden;  }
.gdlr-banner-description-item .nav-container.style-1 .flex-direction-nav{ margin-left: 0px; }
.gdlr-banner-description-item .nav-container.style-1 .flex-control-nav{ display: none;  }	
.gdlr-banner-images ul.slides li img { width: auto; display: inline-block; }
.gdlr-banner-images ul.slides li { text-align: center; }
.gdlr-banner-description .nav-container.style-1 .flex-direction-nav { margin-left: 0px; }

/*--- gallery ---*/
.gdlr-gallery-item.gdlr-item{ margin: 0px 10px; }	
.gdlr-gallery-item.gdlr-item .gallery-item{ margin: 0px 5px 10px; }	
.gdlr-gallery-item.gdlr-item .gallery-item img{ display: block; margin: 0px auto; }	
.gdlr-gallery-item.gdlr-item .gallery-caption{ display: block; text-align: center; padding: 7px 0px 6px; }	

.gdlr-gallery-item.gdlr-item.gdlr-gallery-thumbnail .gallery-item{ padding: 5px; cursor: pointer; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container{ margin: 0px 5px 10px; position: relative; overflow: hidden; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gdlr-gallery-thumbnail{ display: none; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gdlr-gallery-thumbnail:first-child{ display: block; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container img{ margin: 0px auto; display: block; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gallery-caption-wrapper{
	position: absolute; bottom: 0px; left: 0px; right: 0px; text-align: center; }
.gdlr-gallery-item.gdlr-item .gdlr-gallery-thumbnail-container .gallery-caption{ padding: 10px 15px; opacity: 0.8; filter: alpha(opacity=80); display: inline-block; max-width: 60%; }
	
/*--- slider caption / stack image ---*/	
.gdlr-caption-wrapper{ position: absolute; bottom: 0px; left: 0px; right: 0px; z-index: 90; }
.gdlr-caption-wrapper .gdlr-caption-inner{ max-width: 940px; margin: 0px auto; }
.gdlr-caption-wrapper.position-center{ text-align: center; }
.gdlr-caption-wrapper.position-left .gdlr-caption{ float: left; text-align: left; }
.gdlr-caption-wrapper.position-right .gdlr-caption{ float: right; text-align: left; }
.gdlr-caption-wrapper.position-center .gdlr-caption{ display: inline-block; }
.gdlr-caption-wrapper .gdlr-caption{ max-width: 40%; padding: 20px 28px; }
.gdlr-caption-wrapper .gdlr-caption .gdlr-caption-title{ font-size: 24px; line-height: 1; margin-bottom: 10px; }
.gdlr-full-size-wrapper .gdlr-caption-wrapper.position-post-right { max-width: 350px; }
.gdlr-caption-wrapper .gdlr-caption { opacity: 0.77; filter: alpha(opacity=77); }

.gdlr-caption-wrapper.post-slider .gdlr-caption{ max-width: none; background: transparent; }
.gdlr-caption-wrapper.post-slider .gdlr-caption .blog-info{ float: left; margin-right: 10px; margin-bottom: 13px; }
.gdlr-post-slider-item.style-post-bottom .gdlr-caption .blog-info{ display: none; }
.gdlr-caption-wrapper.position-post-left{ right: auto; top: 0px; max-width: 40%; }
.gdlr-caption-wrapper.position-post-right{ left: auto; top: 0px; max-width: 40%; }
.gdlr-post-slider-item.style-post-left .gdlr-caption,
.gdlr-post-slider-item.style-post-right .gdlr-caption{ padding: 30px 20px; }
.gdlr-post-slider-item.style-post-left .flex-direction-nav .flex-prev { left: 40%; }
.gdlr-post-slider-item.style-post-right .flex-direction-nav .flex-next { right: 40%; }
.gdlr-caption-wrapper.post-slider,
.gdlr-post-slider-item.style-post-left .flex-prev, 
.gdlr-post-slider-item.style-post-left .flex-next, 
.gdlr-post-slider-item.style-post-right .flex-prev, 
.gdlr-post-slider-item.style-post-right .flex-next{ opacity: 0.8; filter: alpha(opacity=80); }

.gdlr-stack-image { position: relative; margin-bottom: 40px; }
.gdlr-stack-image img{ display: block; }

/*--- price table ---*/
.gdlr-price-inner-item{ margin: 0px 3px; border-style: solid; border-width: 1px;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.08); 
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08); 
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08); }	
.gdlr-price-item .price-title-wrapper{ padding-bottom: 5px; text-align: center; }
.gdlr-price-item .price-title{ font-size: 19px; padding: 6px 0px; margin: 0px; }	
.gdlr-price-item .price-tag{ font-size: 22px; line-height: 1; padding: 25px 0px; font-weight: bold;
	background-image: url('images/light/price-tag-shadow.png'); background-position: 0px 0px; background-repeat: repeat-x; }	
.gdlr-price-item .price-content{ text-align: center; font-size: 13px; line-height: 1.5; overflow: hidden; padding-bottom: 5px; }
.gdlr-price-item .price-content ul{ list-style: none; margin-left: 0px; }
.gdlr-price-item .price-content ul li{ padding: 12px 20px; border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-price-item .price-button{ text-align: center; }
.gdlr-price-item .price-button .gdlr-button{ margin: 0px 0px 25px; border-bottom-width: 3px; border-bottom-style: solid; }

.gdlr-price-item .best-price{ margin-top: -25px; }
.gdlr-price-item .best-price .price-title{ font-size: 22px; }
.gdlr-price-item .best-price .price-tag { padding: 35px 20px; font-size: 26px; }
.gdlr-price-item .best-price .price-button { padding-bottom: 15px; }
	
/*----------------------------------------------------------------------*/
/*---------------            POST TYPE ITEM           ------------------*/
/*----------------------------------------------------------------------*/

/*--- pagination ---*/
.gdlr-pagination{ margin: 0px 20px; text-align: right; margin-bottom: 60px; }

.gdlr-pagination a{ cursor: pointer; }
.gdlr-pagination .page-numbers.current{ cursor: default; }
.gdlr-pagination .page-numbers{ display: inline-block; padding: 8px 12px; margin-right: 3px;
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

/*--- social share ---*/
.gdlr-social-share{ margin-bottom: 40px; }
.gdlr-social-share .social-share-title{ font-size: 24px; line-height: 23px; font-weight: normal; 
	margin-right: 20px; margin-bottom: 23px; display: block;  }
.gdlr-social-share a{ display: inline-block; width: 30px; margin-right: 6px; margin-bottom: 5px; }
.gdlr-social-share a:hover{ opacity: 0.5; filter: alpha(opacity=50); }
.gdlr-social-share a img{ display: block; }

/*--- post author ---*/
.gdlr-post-author{ margin-bottom: 40px; }
.gdlr-post-author .post-author{ font-size: 17px; margin-bottom: 10px; }
.gdlr-post-author .post-author-title{ font-size: 27px; font-weight: normal;
	margin-bottom: 23px; border-bottom-width: 0px; border-bottom-style: solid; } 
.gdlr-post-author .post-author-avartar{ float: left; margin-right: 20px; }
.gdlr-post-author .post-author-content{ overflow: hidden; }

/*--- comment ---*/
.gdlr-comments-area{ margin-bottom: 30px; }
.gdlr-comments-area .comments-title { font-size: 24px; font-weight: normal;
	margin-bottom: 20px; padding-top: 30px; padding-bottom: 8px; border-bottom-width: 0px; border-bottom-style: solid; }
.gdlr-comments-area ol.commentlist { list-style: none; margin-left: 0px; }
.gdlr-comments-area ol.commentlist .comment-article{ margin-bottom: 30px; padding-bottom: 5px;
	border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-comments-area ol.commentlist ol.children{ list-style: none; margin-left: 40px; }
.gdlr-comments-area .comment-avatar{ float: left; overflow: hidden; margin-right: 20px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  }
.gdlr-comments-area .comment-avatar img{ display: block; }
.gdlr-comments-area .comment-body{ overflow: hidden; position: relative; }
.gdlr-comments-area .comment-author{ font-size: 15px; font-weight: bold; margin-bottom: 4px; }
.gdlr-comments-area .comment-reply{ position: absolute; top: 0px; right: 0px; font-size: 15px; }
.gdlr-comments-area .comment-reply i{ margin-right: 12px; }
.gdlr-comments-area .comment-time { line-height: 20px; margin-bottom: 5px; }
.gdlr-comments-area .comment-time i { font-size: 16px; line-height: 20px; float: left; margin-right: 6px; }
.gdlr-comments-area .comment-time time{ font-style: italic; }
.gdlr-comments-area .comment-content{ margin-top: 15px; }

.comment-respond .comment-form{ width: 101%; }
.comment-respond .comment-reply-title{ font-size: 24px; margin-bottom: 15px; font-weight: normal;
	padding-top: 10px; padding-bottom: 8px; border-bottom-width: 0px; border-bottom-style: solid; } 
.comment-respond .comment-form-head > input{ float: left; width: 27.5%; margin: 0 0 0 1.5%; padding: 15px 2.5%; border: 0px; 
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; font-size: 13px; }
.comment-respond .comment-form-head > input:first-child{ width: 27%; margin-left: 0%; }
.comment-respond .comment-form-comment > textarea{ margin: 9px 0 0; padding: 15px 3%; width: 95%; border: 0px; 
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; display: block; font-size: 13px; }
.comment-respond .comment-form-comment > textarea:focus{ outline: none; }
.comment-respond .form-submit > input[type="submit"]{ margin-bottom: 0px; margin-top: 20px; }
	
/*--- blog ---*/
.gdlr-blog-thumbnail { position: relative; }
.gdlr-blog-thumbnail .icon-bullhorn{ margin-right: 9px; }
.gdlr-blog-thumbnail .gdlr-sticky-banner { position: absolute; bottom: 0px;  
	font-size: 12px; font-weight: bold; padding: 5px 12px; }

.gdlr-item.gdlr-blog-grid { margin-bottom: 50px; }	
.gdlr-blog-grid .gdlr-blog-title{ font-size: 21px; font-weight: bold; margin-bottom: 15px; margin-top: 7px; }
.gdlr-blog-grid .gdlr-blog-thumbnail{ margin-bottom: 24px;  }
.gdlr-blog-grid .gdlr-blog-thumbnail img{ display: block; margin: 0px auto; }
.gdlr-blog-grid .gdlr-blog-thumbnail.gdlr-audio{ padding: 25px 25px 0px; }
.gdlr-blog-grid .gdlr-blog-info{ margin-bottom: 5px; }
.gdlr-blog-grid .gdlr-blog-info .blog-info{ float: left; }
.gdlr-blog-grid .gdlr-blog-info .gdlr-separator{ float: left; margin: 0px 10px; }
.gdlr-blog-grid .gdlr-blog-info .gdlr-separator:first-child{ display: none; }
.gdlr-blog-grid .gdlr-blog-content-wrapper{ padding: 5px 30px 40px; }
.gdlr-blog-grid .gdlr-blog-content{ margin-bottom: 22px; }
.gdlr-blog-grid .excerpt-read-more{ display: none; }
.gdlr-blog-grid .blog-date-wrapper{ text-align: center; }
.gdlr-blog-grid .blog-date-wrapper .blog-date-day{ float: left; font-size: 50px; line-height: 1; 
	padding-bottom: 12px; margin-right: 10px; border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-blog-grid .blog-date-wrapper .blog-date-right{ overflow: hidden; text-align: left; padding-top: 4px; }
.gdlr-blog-grid .blog-date-wrapper .blog-date-month{ display: block; font-size: 14px; line-height: 1; margin-bottom: 8px; }
.gdlr-blog-grid .blog-date-wrapper .blog-date-year{ display: block; font-size: 17px; line-height: 1; }

.gdlr-item.gdlr-blog-medium{ margin-bottom: 60px; }
.gdlr-blog-medium .gdlr-blog-thumbnail{ width: 35%; float: left; margin-right: 20px; }
.gdlr-blog-medium .gdlr-blog-content-wrapper{ overflow: hidden; }
.gdlr-blog-medium .gdlr-blog-title{ font-size: 20px; margin-bottom: 10px; }
.gdlr-blog-medium .gdlr-blog-info{ margin-bottom: 10px; font-size: 12px; }
.gdlr-blog-medium .gdlr-blog-info .blog-info{ float: left; }
.gdlr-blog-medium .gdlr-blog-info .gdlr-separator{ float: left; margin: 0px 10px; }
.gdlr-blog-medium .gdlr-blog-info .gdlr-separator:first-child{ display: none; }
.gdlr-blog-medium .gdlr-blog-content-inner{ overflow: hidden; }
.gdlr-blog-medium .blog-date-wrapper{ text-align: center; float: left; margin-right: 20px; width: 65px; 
	margin-top: 8px; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-blog-medium .blog-date-wrapper .blog-date-day{ display: block; font-size: 50px; line-height: 1; margin-bottom: 16px; }
.gdlr-blog-medium .blog-date-wrapper .blog-date-month{ display: block; font-size: 14px; line-height: 1; margin-bottom: 14px; }
.gdlr-blog-medium .blog-date-wrapper .blog-date-year{ display: block; font-size: 17px; line-height: 1; }

.gdlr-item.gdlr-blog-full{ margin-bottom: 50px; }
.gdlr-blog-full{ border-bottom-width: 0px; border-bottom-style: solid; }
.gdlr-blog-full:last-child{ border-bottom-width: 0px; padding-bottom: 0px; }
.gdlr-blog-full .excerpt-read-more { display: block; margin-top: 20px; text-transform: uppercase; 
letter-spacing: 2px; font-weight: 700; }
.gdlr-blog-full .gdlr-blog-content-wrapper{ overflow: hidden; }
.gdlr-blog-full .gdlr-blog-title{ font-size: 27px; font-weight: bold; margin-bottom: 9px; }
.gdlr-blog-full .gdlr-blog-thumbnail{ text-align: center; margin-bottom: 30px; }
.gdlr-blog-full .gdlr-blog-thumbnail img{ display: block; margin: 0px auto;  }
.gdlr-blog-full .gdlr-blog-info{ margin-bottom: 14px; font-size: 12px; }
.gdlr-blog-full .gdlr-blog-info .blog-info{ float: left; }
.gdlr-blog-full .gdlr-blog-info .gdlr-separator{ float: left; margin: 0px 10px; }
.gdlr-blog-full .gdlr-blog-info .gdlr-separator:first-child{ display: none; }
.gdlr-blog-full .gdlr-single-blog-tag{ margin-bottom: 20px; margin-top: 60px; }
.gdlr-blog-full .gdlr-single-blog-tag i{ font-size: 16px; line-height: 16px; 
	padding-top: 6px; margin-right: 20px; float: left; }
.gdlr-blog-full .gdlr-single-blog-tag a{ line-height: 12px; padding: 8px 13px; display: inline-block; 
	margin-right: 5px; -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius:3px;  }
.gdlr-blog-full .gdlr-single-blog-tag .sep,
.gdlr-blog-full .gdlr-single-blog-tag .gdlr-separator{ display: none; }
.gdlr-blog-full .blog-date-wrapper{ text-align: center; float: left; margin-right: 20px; width: 65px; 
	margin-top: 8px; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-blog-full .blog-date-wrapper .blog-date-day{ display: block; font-size: 50px; line-height: 1; margin-bottom: 16px; }
.gdlr-blog-full .blog-date-wrapper .blog-date-month{ display: block; font-size: 14px; line-height: 1; margin-bottom: 14px; }
.gdlr-blog-full .blog-date-wrapper .blog-date-year{ display: block; font-size: 17px; line-height: 1; }

body.single .gdlr-blog-full{ border-bottom: 0px; }
.gdlr-blog-thumbnail .flex-control-nav{ display:none; }
.gdlr-blog-thumbnail .flexslider .flex-prev, 
.gdlr-blog-thumbnail .flexslider .flex-next { opacity: 0.7; }

.gdlr-single-nav > div i{ font-size: 20px; line-height: 20px; padding: 5px 12px; }
.single-post .gdlr-single-nav{ margin-bottom: 55px; width: 100%; padding-top: 5px; padding-bottom: 3px; }
.single-post .gdlr-single-nav > div.previous-nav{ padding-right: 10px; float: left; }
.single-post .gdlr-single-nav > div.previous-nav i{ margin-right: 15px; }
.single-post .gdlr-single-nav > div.next-nav{ padding-left: 10px; float: right; text-align: right; }
.single-post .gdlr-single-nav > div.next-nav i{ margin-left: 15px; }

/*--- float player ---*/
.gdlr-open-float-player{ font-size: 14px; width: 14px; height: 14px; line-height: 1; text-align: center;
	padding: 19px 17px 19px 21px; cursor: pointer; opacity: 0.5; filter: alpha(opacity=50); display: none;
	background: #ffffff; color: #868686; position: fixed; bottom: 0px; right: 40px; z-index: 9999;
	transition: opacity 300ms; -moz-transition: opacity 300ms; -o-transition: opacity 300ms;  -webkit-transition: opacity 300ms; }
.gdlr-open-float-player:hover{ opacity: 0.7; filter: alpha(opacity=70); }
.gdlr-open-float-player.gdlr-now-playing{ background-image: url('images/playing-black.gif'); 
	background-repeat: no-repeat; background-position: center; }
.gdlr-open-float-player.gdlr-now-playing i{ display: none; }

.gdlr-float-player { background: url('images/player-bg.png'); border-top: 1px solid #535353; }
.gdlr-float-top-player.gdlr-item{ margin-bottom: 0px; }
.gdlr-float-top-player > .gdlr-top-player-title,
.gdlr-float-top-player > .gdlr-top-player-thumbnail,
.gdlr-float-top-player > .gdlr-top-player-download{ display: none; }
.gdlr-float-player { position: fixed; left: 0; right: 0; bottom: 0; z-index: 9999; }
.gdlr-float-player i{ margin-right: 0px; }
.gdlr-float-player .mejs-container { background: transparent; }
.gdlr-float-player .mejs-container .mejs-controls { height: 70px; position: relative; bottom: auto; background: transparent; }
.gdlr-float-player .mejs-controls .mejs-button button:focus { outline: none; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-play-control{ width: 120px; height: 40px; margin-right: 30px; padding: 15px 0px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button{ font-size: 14px; width: 11px; height: 14px; 
	padding: 13px 13px 13px 16px; margin: 0px 8px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause{ padding: 13px 14px 13px 15px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause .icon-play:before{ content: "\f04c"; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-next-button{ font-size: 12px; width: 11px; height: 12px; 
	padding: 9px 9px 9px 12px; margin-top: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-previous-button{ font-size: 12px; width: 11px; height: 12px; 
	padding: 9px 12px 9px 9px; margin-top: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-next-button,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-previous-button{ cursor: pointer; opacity: 0.8; filter: alpha(opacity:80); 
	transition: opacity 300ms; -moz-transition: opacity 300ms; -o-transition: opacity 300ms;  -webkit-transition: opacity 300ms; }
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button:hover,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-next-button:hover,
.gdlr-float-player .mejs-container .mejs-controls .gdlr-previous-button:hover{ opacity: 1; filter: alpha(opacity:100); }
.gdlr-float-player .mejs-container .mejs-controls .mejs-time-rail { padding: 17px 81px 18px 75px; height: 35px; 
	position: relative; background: url('images/list-bg.png'); }
.gdlr-float-player .mejs-controls .mejs-time-rail .mejs-time-total{ margin: 0px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse { width: 76px; position: absolute; right: 0px; float: none; top: 39px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse .mejs-time { padding: 0px; margin: 0px; display: inline; float: none; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-time-elapse span { position: relative; display: inline; float: none; margin: 0px; }	
.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-thumbnail {
    max-width: 35px; width: 35px; height: 35px; position: absolute; top: 17px; left: 20px; border: 1px solid #fff; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-title { font-size: 13px;
    width: auto; height: 15px; line-height: 15px; float: none; margin-bottom: 10px; font-weight: bold; }
.gdlr-float-player .mejs-controls .mejs-time-rail span.gdlr-song-title-info { display: inline; position: relative;
 width: auto; height: auto; font-weight: normal; }
.gdlr-float-player .gdlr-top-player-download a{ opacity: 0.6; filter: alpha(opacity=60); }
.gdlr-float-player .gdlr-top-player-download a:hover{ opacity: 1; filter: alpha(opacity=100); }
.gdlr-float-player .gdlr-top-player-download a img { max-width: 19px; margin-right: 8px; }
.gdlr-float-player .gdlr-top-player-download i.icon-list-ul { font-size: 16px; margin-right: 30px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-top-player-download { width: 128px; padding: 34px 5px 10px 15px; 
	font-size: 16px; line-height: 20px; background: url('images/list-bg.png'); }	
.gdlr-float-player .mejs-container .mejs-controls .gdlr-volumn-bar { float: left; width: 126px; padding: 22px 20px; }
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider{ width: 90px; float: left; clear: none; top: auto; }
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ width: 80px; }
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.gdlr-float-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ top: 11px;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; margin-left: 5px; }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-hide-float-bar { width: 18px; height: 18px; 
	text-align: center; padding: 26px 17px; cursor: pointer; background: url('images/close-bg.png'); }
.gdlr-float-player .mejs-container .mejs-controls .gdlr-hide-float-bar i { font-size: 17px; color: #ffffff; }
	
.gdlr-float-player .gdlr-player-list { list-style: none; margin-left: 0px; display: none; position: absolute; bottom: 70px; 
	background: #000; background: rgba(61,61,61,0.9); margin: 0px; left: 170px; right: 238px; }
.gdlr-float-player .gdlr-player-list li{ cursor: pointer; padding: 14px 25px;
    border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #161616;}	
.gdlr-float-player .gdlr-player-list li:before { content: "\f04b"; font-family: FontAwesome; color: #fff;
    font-size: 12px; width: 13px; height: 13px; margin-left: 3px; margin-right: 15px; display: inline-block; }	
.gdlr-float-player .gdlr-player-list li.active.gdlr-playing:before{ background-image: url('images/playing.gif'); 
	background-repeat: no-repeat; background-position: 95% center; content: ' '; width: 16px; margin-left: 0px; }

/*--- song item ---*/
.gdlr-top-player .gdlr-top-player-inner { padding: 8px 10px 15px 18px; }
.gdlr-top-player .gdlr-top-player-thumbnail{ float: left; max-width: 62px; margin-right: 15px; margin-left: -4px; margin-top: 5px; }
.gdlr-top-player .gdlr-top-player-thumbnail img{ display: block; }
.gdlr-top-player .gdlr-top-player-content{ overflow: hidden;}
.gdlr-top-player .gdlr-top-player-title{ font-size: 14px; margin-top: 5px; font-weight: bold; }
.gdlr-top-player .gdlr-top-player-download { margin-top: 5px; }
.gdlr-top-player .gdlr-top-player-download a img{ max-width: 19px; margin-right: 8px; }

.gdlr-top-player .mejs-controls .mejs-button button:focus { outline: none; }
.gdlr-top-player .mejs-container .mejs-controls { height: 50px; border-style: solid;
	border-top-width: 1px; border-bottom-width: 1px; }
.gdlr-top-player .mejs-container .mejs-controls > div { padding: 12px 16px; }
.gdlr-top-player .mejs-controls .mejs-button button { margin-top: 5px; margin-bottom: 5px; }
.gdlr-top-player .mejs-button.mejs-playpause-button { border-right-style: solid; border-right-width: 1px; }
.gdlr-top-player .mejs-controls .mejs-time-rail{ border-style: solid; border-left-width: 1px; }
.gdlr-top-player .mejs-controls .mejs-time-rail span{ -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.gdlr-top-player .mejs-controls .mejs-time-rail .mejs-time-total{ margin: 8px 0px; } 
.gdlr-top-player .mejs-container .mejs-controls .gdlr-time-elapse { width: 76px; line-height: 26px; padding-left: 0px; 
	position: relative; clear: both; float: right; top: -50px; }
.gdlr-top-player .mejs-container .mejs-controls .mejs-time { padding: 0px; margin: 0px; display: inline; float: none; }
.gdlr-top-player .mejs-container .mejs-controls .mejs-time span { display: inline; float: none; margin: 0px; }
.gdlr-top-player .mejs-container .mejs-controls .gdlr-volumn-bar { position: absolute; padding: 0px; 
	height: 26px; width: 126px; right: 0px; top: -36px; }
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider{ width: 90px; float: left; clear: none; top: auto; }
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ width: 80px; }
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.gdlr-top-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ top: 9px;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; margin-left: 5px; }

.gdlr-player-item .gdlr-player-list{ list-style: none; margin-left: 0px; }
.gdlr-player-item .gdlr-player-list li{ list-style: none; margin-left: 0px; padding: 9px 17px; cursor: pointer; 
	border-top-width: 1px; border-bottom-width: 1px; border-style: solid; }
.gdlr-player-item .gdlr-player-list li.active.gdlr-playing { background-image: url('images/playing.gif'); 
	background-repeat: no-repeat; background-position: 95% center; }

/*--- album item ---*/
.gdlr-album-item-wrapper{ margin-bottom: 60px; }
.gdlr-album-item .gdlr-album-image a{ display: block; }
.gdlr-album-item .gdlr-album-image a:hover{ opacity: 0.4; filter: alpha(opactiy=40); }
.gdlr-album-item img { display: block; }
.gdlr-album-item .gdlr-album-thumbnail,	
.gdlr-album-item .gdlr-album-list{ display: none; }
.gdlr-album-item .gdlr-play-album { margin-right: 8px; width: 16px; height: 18px; display: inline-block; cursor: pointer; }
.gdlr-album-item .gdlr-play-album.gdlr-album-playing.active{ height: 14px; margin-top: 4px;
	background-image: url('images/playing.gif'); background-repeat: no-repeat; background-position: 95% center; }
.gdlr-album-item .gdlr-play-album.gdlr-album-playing.active i{ display: none; }
.gdlr-album-item .gdlr-album-title { font-size: 15px; }
.gdlr-album-item .gdlr-album-content { padding: 14px 24px; 
	transition: background-color 300ms; -moz-transition: background-color 300ms;
	-o-transition: background-color 300ms; -webkit-transition: background-color 300ms; }	
.gdlr-album-item .gdlr-album-download { float: right; line-height: 1; margin-top: 5px; }
.gdlr-album-item .gdlr-album-download a{ opacity: 0.5; filter: alpha(opacity=50); float: left;  margin-left: 8px; }
.gdlr-album-item .gdlr-album-download a:hover{ opacity: 0.9; filter: alpha(opacity=90); }
.gdlr-album-item .gdlr-album-download a img { max-width: 19px; }
.gdlr-item.gdlr-album-item { margin-bottom: 40px; }

.album-widget-nav { position: absolute; right: 0px; top: -6px; }
.gdlr-sidebar .album-widget-nav { top: 6px; }
.shortcode-album-wrapper { position: relative; }
.shortcode-album-wrapper .album-widget-nav{ right: 20px; top: -55px; }

/*--- single album ---*/	
.gdlr-single-album .gdlr-album-info-wrapper { float: left; width: 30%; margin-right: 40px; }
.gdlr-single-album .gdlr-album-thumbnail { margin-bottom: 23px; }
.gdlr-single-album .gdlr-album-title { font-size: 26px; margin-bottom: 15px; font-weight: normal; }
.gdlr-single-album .gdlr-album-info .gdlr-head { font-weight: bold; }
.gdlr-single-album .gdlr-album-info > div { font-size: 14px; margin-bottom: 10px; }
.gdlr-single-album .gdlr-album-info { margin-bottom: 25px; }
.gdlr-single-album .gdlr-album-download a { max-width: 22px; display: inline-block; margin-right: 9px; }
.gdlr-single-album .gdlr-album-download { margin-bottom: 30px; }	
.gdlr-single-album .gdlr-album-content{ overflow: hidden; margin-bottom: 45px; }

.gdlr-album-song-list { list-style: none; margin: 0px 0px 40px; }
.gdlr-album-song-list li { margin-bottom: 1px;  padding: 13px 22px; line-height: 22px; }
.gdlr-album-song-list .gdlr-album-song-download{ float: right; }
.gdlr-album-song-list .gdlr-album-song-download a{ display: inline-block; max-width: 19px; 
	margin-left: 7px; opacity: 0.6; filter: alpha(opacity=60); }
.gdlr-album-song-list .gdlr-album-song-download a:hover{ opacity: 1; filter: alpha(opacity=100); }
.gdlr-album-song-list li .gdlr-list-icon{ cursor: pointer; }
.gdlr-album-song-list li .gdlr-list-icon:before{ content: "\f04b"; font-family: FontAwesome; color: #fff; 
	font-size: 12px; width: 13px; height: 13px; margin-left: 3px; margin-right: 15px; display: inline-block; }
.gdlr-album-song-list li.active.gdlr-playing .gdlr-list-icon:before{ background-image: url('images/playing.gif'); 
	background-repeat: no-repeat; background-position: 95% center; content: ' '; width: 16px; margin-left: 0px; }
.gdlr-single-album .gdlr-social-share{ max-width: 265px; }
	
/*--- event item ---*/
.event-item-wrapper{ margin-bottom: 60px; }
.gdlr-widget-event .event-date-wrapper{ float: left; text-align: center; width: 55px; margin-right: 20px; }
.gdlr-widget-event .event-date-wrapper .event-date-day{ font-size: 43px; font-weight: bold; 
	display: block; line-height: 1; margin-bottom: 4px; }
.gdlr-both-sidebar .gdlr-widget-event .event-date-wrapper .event-date-day{ font-size: 20px; }
.gdlr-both-sidebar .gdlr-widget-event .event-date-wrapper{ width: 32px; margin-top: 8px; }
.gdlr-both-sidebar .gdlr-widget-event .event-content-inner-wrapper { padding-right: 0px; }
.gdlr-both-sidebar .gdlr-widget-event .event-content-wrapper .event-status-wrapper{ display: none; }


.gdlr-widget-event .event-date-wrapper .event-date-month{ font-size: 14px; font-weight: bold; display: block; }
.gdlr-widget-event .event-content-wrapper{ padding-top: 6px; overflow: hidden; position: relative; }
.gdlr-widget-event .event-content-inner-wrapper{ padding-right: 105px; }
.gdlr-widget-event .event-content-wrapper .event-title{ font-size: 15px; font-weight: bold; margin-bottom: 5px; }
.gdlr-widget-event .event-content-wrapper .event-status-wrapper{ position: absolute; 
	top: 10px; right: 0px; text-align: center; letter-spacing: 1px; }
.gdlr-widget-event .event-content-wrapper .event-status-wrapper span{ margin: 0px; line-height: 34px; }
.gdlr-widget-event .event-content-wrapper .event-status-wrapper .on-sale { display: block; font-size: 12px; letter-spacing: 0; line-height: 1.7; max-width: 90px; }
.gdlr-widget-event .event-content-wrapper .event-status-wrapper .gdlr-button{ margin: 0px; line-height: 1.7; padding: 8px 12px; font-size: 10px; letter-spacing: 1px; }
.gdlr-item.gdlr-event-item.gdlr-widget-event { margin-bottom: 25px; }
.gdlr-list-event.gdlr-item{ position: relative; margin-bottom: 40px; }
.gdlr-list-event .event-date-wrapper{ font-size: 22px; font-weight: bold; line-height: 24px; float: left; 
	width: 13%; margin-right: 2%; text-transform: uppercase; }
.gdlr-list-event .event-title{ font-size: 17px; line-height: 22px; font-weight: normal; float: left; 
	width: 23%; margin-right: 2%; padding-top: 2px; margin-bottom: 0px; }
.gdlr-list-event .event-location{ font-size: 17px; line-height: 22px; float: left; 
	width: 58%; margin-right: 2%; padding-top: 2px; }
.gdlr-list-event .event-status-wrapper{ width: 120px; position: absolute; 
	top: -5px; right: 0px; text-align: center; }
.gdlr-list-event .event-status-wrapper span{ margin: 0px; line-height: 34px; }
.gdlr-list-event .event-status-wrapper .gdlr-button{ margin: 0px; line-height: 1.7; padding: 12px 20px; }
.gdlr-list-event .event-status-wrapper .on-sale { letter-spacing: 0px; }


.event-status-wrapper { text-transform: uppercase; font-weight: 700; font-size: 11px; letter-spacing: 2px; }
.event-status-wrapper .sold-out{ font-size: 15px; }
.event-status-wrapper .cancelled-button{ opacity: 0.4; filter: alpha(opacity=40); }

.gdlr-list-by-month-header{ font-size: 25px; font-weight: bold; margin: 0px 20px 40px; 
	padding-top: 35px; text-transform: uppercase; }
.gdlr-list-by-month-header:frist-child{ padding-top: 0px; }

/*--- event counter ---*/
.gdlr-event-counter-item { text-align: center; }
.gdlr-event-counter-item .gdlr-event-counter-title { font-size: 34px; font-weight: 300; text-transform: uppercase; margin-bottom: 20px; }
.gdlr-event-counter-item .gdlr-event-date { font-size: 60px; font-weight: bold; line-height: 1; margin-bottom: 35px; }
.gdlr-event-counter-item .gdlr-event-counter { font-size: 27px; }
.gdlr-event-counter-item .gdlr-event-counter .time-box { margin: 0px 15px; }

/*--- single event ---*/
.gdlr-single-event { margin-bottom: 60px; }
.gdlr-single-event .gdlr-event-info-wrapper{ width: 30%; float: right; margin-left: 40px; }
.gdlr-single-event .gdlr-event-thumbnail{ margin-bottom: 30px; }
.gdlr-single-event .gdlr-event-content-wrapper{ overflow: hidden; }
.gdlr-single-event .gdlr-event-info { font-size: 14px; margin-bottom: 30px; }
.gdlr-single-event .gdlr-event-info .gdlr-head { font-weight: bold; }
.gdlr-single-event .gdlr-event-info .gdlr-info { margin-bottom: 10px; }
.gdlr-single-event .event-status-wrapper { margin-bottom: 30px; }
.gdlr-single-event .event-status-wrapper .gdlr-button{ margin-bottom: 0px; }
.gdlr-single-event .gdlr-event-title{ font-size: 26px; font-weight: normal; margin-bottom: 3px; }
.gdlr-single-event .gdlr-event-map{ margin-bottom: 32px; }
.gdlr-single-event .gdlr-event-location{ font-size: 21px; }
.gdlr-single-event .gdlr-event-content{ margin-top: 20px; }
.gdlr-event-info-wrapper .gdlr-social-share { max-width: 265px; }

/*--- single portfolio ---*/
.gdlr-portfolio-info .portfolio-info .info-head { font-weight: bold; margin-right: 7px; }
.gdlr-portfolio-info .gdlr-social-share { padding: 10px 0px 0px; background: transparent; }
.gdlr-portfolio-info .social-share-title { display: none; }

.single-portfolio .gdlr-single-nav i{ margin-right: 2px; }
.single-portfolio .gdlr-single-nav > div.previous-nav{ float: left; }
.single-portfolio .gdlr-single-nav > div.next-nav{ float: left; }
.single-portfolio .gdlr-single-nav{ position: absolute; right: 0px; top: 5px; }

.gdlr-related-portfolio .head{ font-size: 24px; font-weight: bold; margin: 0px 20px 30px; }
.gdlr-related-portfolio.portfolio-item-holder { margin-bottom: 25px; }
.gdlr-related-portfolio h3.portfolio-title { font-size: 16px; font-weight: 400; }

.gdlr-portfolio-style1 .gdlr-portfolio-thumbnail{ text-align: center; margin-bottom: 55px; }
.gdlr-portfolio-style1 .gdlr-portfolio-thumbnail img{ display: block; margin: 0px auto;  }
.gdlr-portfolio-style1 .gdlr-portfolio-description{ width: 62%; float: left; margin-right: 3%; position: relative; }
.gdlr-portfolio-style1 .gdlr-portfolio-content .head{ font-size: 24px; font-weight: bold; margin-bottom: 30px; }
.gdlr-portfolio-style1 .gdlr-portfolio-info{ width: 35%; float: right; }
.gdlr-portfolio-style1 .portfolio-info{ padding-bottom: 10px; margin-bottom: 10px; 
	border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-class-both-sidebar .gdlr-portfolio-style1 .gdlr-portfolio-description,
.gdlr-class-left-sidebar .gdlr-portfolio-style1 .gdlr-portfolio-description,
.gdlr-class-right-sidebar .gdlr-portfolio-style1 .gdlr-portfolio-description{ float: none; margin-right: 0px; width: auto; }
.gdlr-class-both-sidebar .gdlr-portfolio-style1 .gdlr-portfolio-info, 
.gdlr-class-left-sidebar .gdlr-portfolio-style1 .gdlr-portfolio-info, 
.gdlr-class-right-sidebar .gdlr-portfolio-style1 .gdlr-portfolio-info{ width: auto; float: none; margin-bottom: 30px; }
	
.gdlr-portfolio-style2.gdlr-item-start-content { margin-bottom: 35px; }
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail{ text-align: center; margin: 0px 30px 30px 0px; max-width: 60%; float: left; }
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail.gdlr-full-portfolio-thumbnail{ margin-right: 0px; max-width: 100%; float: none; }
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail.gdlr-video,
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail.gdlr-slider{ width: 60%; }
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail.gdlr-full-portfolio-thumbnail.gdlr-video,
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail.gdlr-full-portfolio-thumbnail.gdlr-slider{ width: 100%; }
.gdlr-portfolio-style2 .gdlr-portfolio-thumbnail img{ display: block; margin: 0px auto;  }
.gdlr-portfolio-style2 .gdlr-portfolio-content{ overflow: hidden; position: relative; }
.gdlr-portfolio-style2 .gdlr-portfolio-content .head{ font-size: 24px; font-weight: bold; margin-bottom: 25px; }
.gdlr-portfolio-style2 .gdlr-portfolio-info{ margin-bottom: 45px;  }
.gdlr-portfolio-style2 .portfolio-info{ padding-bottom: 10px; margin-bottom: 10px; 
	border-bottom-width: 1px; border-bottom-style: solid; }
.gdlr-class-both-sidebar .gdlr-portfolio-style2 .gdlr-portfolio-thumbnail,
.gdlr-class-left-sidebar .gdlr-portfolio-style2 .gdlr-portfolio-thumbnail,
.gdlr-class-right-sidebar .gdlr-portfolio-style2 .gdlr-portfolio-thumbnail {
    max-width: 100%; float: none; margin-right: 0px; margin-left: 0px; width: auto !important;  }

/*--- portfolio ---*/
.portfolio-thumbnail .flex-control-nav{ display:none; }
.flex-direction-nav i { margin-right: 0px; }

.portfolio-thumbnail{ position: relative; }
.portfolio-thumbnail .portfolio-overlay{ position: absolute; top: 0px; right: 0px; 
	bottom: 0px; left: 0px; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
.portfolio-thumbnail .portfolio-icon{ width: 26px; height: 26px; text-align: center;
	line-height: 26px; font-size: 26px; padding: 22px 22px; display: block; 
	position: absolute; top: 50%; left: 50%; margin-top: -33px; margin-left: -33px;
	-moz-border-radius: 37px; -webkit-border-radius: 37px; border-radius: 37px; filter: inherit; }	
.portfolio-thumbnail .portfolio-icon i{ margin: 0px; }
.portfolio-thumbnail .portfolio-icon i.icon-play{ padding-left: 1px; }	
.portfolio-thumbnail .flexslider .flex-prev, 
.portfolio-thumbnail .flexslider .flex-next { opacity: 0.7; }

.portfolio-item-wrapper{ margin-bottom: 60px; }
.gdlr-classic-portfolio.gdlr-item{ margin-bottom: 40px; }
.gdlr-classic-portfolio .portfolio-thumbnail{ margin-bottom: 20px; }
.gdlr-classic-portfolio .portfolio-thumbnail img{ display: block; margin: 0px auto; }
.gdlr-classic-portfolio .portfolio-title{ font-size: 19px; font-weight: bold; margin-bottom: 4px; }
.gdlr-classic-portfolio .portfolio-info .info-head{ display: none; }
.type-classic-portfolio .gdlr-pagination { margin-top: -10px; position: relative; z-index: 10; }

.gdlr-modern-portfolio.gdlr-item{ margin-bottom: 40px; position: relative; overflow: hidden; }
.gdlr-item-no-space .gdlr-modern-portfolio.gdlr-item{ margin-bottom: 0px; }
.gdlr-modern-portfolio .portfolio-thumbnail img{ display: block; margin: 0px auto; }
.gdlr-modern-portfolio .portfolio-thumbnail.gdlr-video .portfolio-content-wrapper{ display: none !important; }
.gdlr-modern-portfolio .portfolio-content-wrapper{ position: absolute; left: 0px; right: 0px; bottom: 0px;
	padding: 16px 22px; z-index: 10; display: none; }
.gdlr-modern-portfolio .portfolio-content-overlay{ position: absolute; top: 0px; left: 0px; right: 0px; 
	bottom: 0px; opacity: 0.85; filter: alpha(opacity=85); }
.gdlr-modern-portfolio .portfolio-title{ font-size: 17px; font-weight: 400; margin-bottom: 0px; position: relative; }
.type-modern-portfolio .gdlr-pagination { margin: 5px 17px 50px; }
.type-modern-no-space-portfolio .gdlr-pagination{ margin: 45px 17px 50px; }


.gdlr-portfolio-carousel-item .gdlr-portfolio-item:first-child{ margin-left: 0px; }
.portfolio-item-filter{ margin: 0px 20px; padding-bottom: 40px; }
.portfolio-item-filter a.gdlr-button{ margin-right: 8px; 
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 12px;  }
.gdlr-image-link-shortcode .gdlr-image-link-icon, 
.portfolio-thumbnail .portfolio-icon{ opacity: 0; filter: alpha(opactiy=0);
	background-color: #000; background-color: rgba(0, 0, 0, 0.6); }
.gdlr-image-link-shortcode .gdlr-image-link-icon i, 
.portfolio-thumbnail .portfolio-icon i{ color: #fff; }
.gdlr-now-loading{ height: 32px; padding: 40px 0px 80px; display: none; background: url('images/dark/now-loading.gif') center no-repeat;  }

/*--- list with icon ---*/
.list-with-icon{ margin-bottom: 20px; padding-bottom: 0px; border-bottom-width: 1px; border-bottom-style: solid; margin-top: 3px; }
.list-with-icon > i { font-size: 21px; float: left; margin-right: 23px; line-height: 25px; margin-top: 1px; }
.list-with-icon .list-with-icon-content{ overflow: hidden; }
.list-with-icon .list-with-icon-title{ overflow: hidden; font-size: 18px; font-weight: bold; margin-bottom: 8px; }

/*--- aside format ---*/
.format-aside .gdlr-blog-content{ font-size: 20px; font-style: italic; padding: 30px 30px 30px; line-height: 1.5; }
.format-aside .gdlr-blog-content p:last-child{ margin-bottom: 0px; }

/*--- quote format ---*/
.format-quote .gdlr-top-quote blockquote{ font-weight: bold; font-size: 25px; font-style: normal; 
	line-height: 1.4; padding: 0px 0px 0px 55px; border-top-width: 0px; border-bottom-width: 0px;
	background-size: 34px 29px; background-position: 0px 7px; background-image: url('images/dark/quote.png'); }
.format-quote .gdlr-top-quote blockquote,
.format-quote .gdlr-top-quote blockquote p{ margin-bottom: 12px; }
.format-quote .gdlr-quote-author{ font-size: 14px; font-weight: bold; padding-left: 55px; }
.post.format-quote .gdlr-blog-content { border-top-style: dashed; border-bottom-style: dashed; border-top-width: 1px; border-bottom-width: 1px; padding-top: 40px; padding-bottom: 20px; }

/*--- Link Format ---*/
.gdlr-blog-full .post.format-link .gdlr-blog-content { margin-bottom: 0px }
.post.format-link { border-top-width: 1px; border-bottom-width: 1px; border-top-style: dashed; border-bottom-style: dashed; margin-bottom: 70px; padding: 40px 0px 40px; }
.gdlr-blog-full .post.format-link .gdlr-blog-title{ margin-bottom: 5px; }

/*----------------------------------------------------------------------*/
/*---------------                 WIDGET              ------------------*/
/*----------------------------------------------------------------------*/

.widget{ position: relative; }

/*--- list ---*/
.widget_recent_entries ul, .widget_recent_comments ul, 
.widget_pages ul, .widget_rss ul, 
.widget_archive ul, .widget_categories ul, .widget_nav_menu ul,
.widget_meta ul { position: relative; list-style: none; margin-left: 0px; }

.widget_recent_entries ul ul, .widget_recent_comments ul ul, 
.widget_pages ul ul, .widget_rss ul ul, 
.widget_archive ul ul, .widget_categories ul ul, .widget_nav_menu ul ul,
.widget_meta ul ul{ margin-top: 15px; margin-bottom: 0px; }

.widget_recent_entries ul ul li:last-child, .widget_recent_comments ul ul li:last-child, 
.widget_pages ul ul li:last-child, .widget_rss ul ul li:last-child, 
.widget_archive ul ul li:last-child, .widget_categories ul ul li:last-child, .widget_nav_menu ul ul li:last-child,
.widget_meta ul ul li:last-child{ padding-bottom: 0px; margin-bottom: 0px; border-bottom-width: 0px; }

.widget_recent_entries ul li, .widget_recent_comments ul li, 
.widget_pages ul li, .widget_rss ul li, 
.widget_archive ul li, .widget_categories ul li, .widget_nav_menu ul li, 
.widget_meta ul li{ margin-bottom: 9px; padding-left: 20px; line-height: 20px; padding-bottom: 9px;
	border-bottom-width: 1px; border-bottom-style: solid; }
	
.widget_recent_entries ul li:before, .widget_recent_comments ul li:before, 
.widget_pages ul li:before, .widget_rss ul li:before, 
.widget_archive ul li:before, .widget_categories ul li:before, .widget_nav_menu ul li:before,
.widget_meta ul li:before { content: "\f105"; font-family: FontAwesome; text-align: center;
	position: absolute; left: 0px; display: block; height: 20px; width: 10px;
	border-style: solid; border-width: 0px; margin-top: 1px;
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

/*--- tag could ---*/
.tagcloud a { font-size: 11px !important; display: block;
	float: left; padding: 5px 10px; margin-right: 7px; margin-top: 7px;
	border: 0px solid; border-color: inherit; font-weight: 700; text-transform: uppercase;  }
.tagcloud a:hover { opacity: 0.8; filter: alpha(opacity=80); }
.tagcloud { display: inline-block; }

/*--- search form ---*/
.gdl-search-form{ padding-right: 22px; position: relative; }
.gdl-search-form input[type="text"]{ border-width: 1px; border-style: solid; width: 97%; padding: 15px 15px;
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.gdl-search-form input[type="submit"] { position: absolute; right: 13px; top: 50%; margin: -8px 0px 0px; 
	width: 16px; height: 16px; padding: 0px; background-color: transparent; background-size: 16px 16px;
	background-image: url('images/dark/icon-search.png'); }

/*--- recent post widget ---*/
.recent-post-widget{ margin-bottom: 20px; }
.recent-post-widget .recent-post-widget-thumbnail{ max-width: 70px; float: left; margin-right: 15px; }
.recent-post-widget .recent-post-widget-thumbnail img{ display: block; }
.recent-post-widget .recent-post-widget-content{ overflow: hidden; margin-top: 5px; }
.recent-post-widget .recent-post-widget-title{ font-size: 13px; margin-bottom: 6px; font-weight: bold; }
.recent-post-widget .recent-post-widget-info{ line-height: 22px; }
.recent-post-widget .recent-post-widget-info i{ font-size: 15px; margin-right: 6px; }
.recent-post-widget .recent-post-widget-info .gdlr-separator { display: none; }
.footer-wrapper .gdlr-recent-post-widget { padding-top: 5px; }

/*--- twitter widget ---*/
ul.gdlr-twitter-widget{ list-style: none; margin-left: 0px; }
ul.gdlr-twitter-widget li{ margin-bottom: 28px; }
ul.gdlr-twitter-widget li:before{ font-size: 32px; line-height: 32px; float: left; margin-right: 20px;
	margin-top: 0px; font-family: FontAwesome; 
	content: '\f099'; *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;'); }
ul.gdlr-twitter-widget li .gdlr-twitter{ margin-bottom: 20px; overflow: hidden; }
ul.gdlr-twitter-widget li .gdlr-twitter-time { display: block; margin-top: 7px; }
ul.gdlr-twitter-widget li .gdlr-twitter-time:before{ content: "- "; }

/*--- recent port 2 widget ---*/
.gdlr-recent-port2-widget .recent-port-widget-thumbnail { max-width: 59px; float: left; 
	margin-right: 13px; margin-bottom: 13px; }
.footer-wrapper .gdlr-recent-port2-widget .recent-port-widget-thumbnail { max-width: 57px; }

/*--- flickr widget ---*/
.gdlr-flickr-widget .flickr_badge_image { max-width: 59px; float: left; 
	margin-right: 13px; margin-bottom: 13px; }
.footer-wrapper .gdlr-flickr-widget .flickr_badge_image { max-width: 57px; }
	
/*--- post slider widget ---*/	
.gdlr-post-slider-widget .flex-control-nav { display: none; }
.gdlr-post-slider-widget .gdlr-caption-title { padding: 7px; font-size: 13px; text-align: center; }
.gdlr-post-slider-widget .flex-direction-nav li a { padding-top: 15px;padding-bottom: 15px; 
	margin-top: -30px; }
	
/*--- Calendar Widget ---*/
.widget_calendar caption { font-size: 12px; margin-bottom: 14px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }	
.widget_calendar th { font-size: 11px; font-weight: bold; }
.widget_calendar table, .widget_calendar tr, .widget_calendar td{ padding: 10px 0px; }
.widget_calendar table tfoot td { border-bottom: 0; }

/*--- Text Widget ---*/
div.textwidget { margin-top: -5px; }

/*--- Tag Cloud ---*/
div.tagcloud { margin-top: -5px; }

/*----------------------------------------------------------------------*/
/*---------------                PLUGINS              ------------------*/
/*----------------------------------------------------------------------*/

/*--- Isotope Filtering ---*/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s; }
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width; }
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity; 
	-moz-transition-property: -moz-transform, opacity; 
	-ms-transition-property: -ms-transform, opacity; 
	-o-transition-property: -o-transform, opacity; 
	transition-property: transform, opacity; }
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s; 
	transition-duration: 0s; }
	
/*--- easy pie chart ---*/	
.gdlr-chart { position: relative; text-align: center; display: inline-block; }
.gdlr-chart canvas { position: absolute; top: 0; left: 0; max-width: 100%; max-height: 100%; 
	max-height: none\9; /*- for ie 8 and below-*/ }
.gdlr-chart .chart-content-wrapper { position: absolute; left: 50%; top: 50%; line-height: 1; z-index: 1; }
.gdlr-chart .chart-content-wrapper .chart-content-inner { position: relative; left: -50%; margin-top: -25%; }
.gdlr-chart .chart-content-wrapper .chart-content{ font-size: 16px; margin-bottom: 8px; display: block; }
.gdlr-chart .chart-content-wrapper .chart-percent-number { font-size: 24px; display: block; }	
.gdlr-chart .chart-content-wrapper .chart-content i { font-size: 25px; margin-top: -28px; margin-bottom: 10px; margin-right: 0; display: block; }

/*--- easy mailchimp form ---*/
.gdlr-mailchimp-form .yks-require-description{ display: none; }
.gdlr-mailchimp-form .yks-mailchimpFormDivRowLabel, 
.gdlr-mailchimp-form .yks-mailchimpFormDivRowField { display: block; margin-bottom: 3px; width: auto; }
.gdlr-mailchimp-form .yks-mailchimpFormDivRow{ margin-top: 9px; }
.gdlr-mailchimp-form .yks-mailchimpFormDivRow:first-child{ margin-top: 0px; }
.gdlr-mailchimp-form input[type="text"], .gdlr-mailchimp-form input[type="email"], 
.gdlr-mailchimp-form input[type="password"]{ width: 200px; padding: 12px; margin-bottom: 5px; }
.gdlr-mailchimp-form p, .gdlr-mailchimp-form input[type="submit"]{ margin-bottom: 0px; }
.gdlr-mailchimp-form .yks-status .yks-success { white-space: normal; text-align: center;
    margin: 0px auto; padding: 5px 12px; }
	
/*--- wpml ---*/
.gdlr-wpml-language-selector img{ margin-right: 12px; vertical-align: middle; }

/*--- woocommerce cart ---*/
.gdlr-woocommerce-cart .sub-menu-item{ padding-top: 12px; margin-top: 12px;
	border-top-width: 1px; border-top-style: solid; }
.gdlr-woocommerce-cart .sub-menu-item:first-child{ padding-top: 0px; border-top-width: 0px; }
.gdlr-woocommerce-cart .sub-menu-item .head{ font-weight: bold; }
.gdlr-woocommerce-cart .gdlr-button{ margin-bottom: 0px; }
.gdlr-woocommerce-cart .gdlr-button:last-child{ margin-right: 0px; }
.gdlr-woocommerce-cart .sub-menu-item .gdlr-button { margin-top: 9px; }

/*--- fitvids ---*/
.gdlr-fluid-video-wrapper { width: 100%; position: relative; padding: 0; }                                                            
.gdlr-fluid-video-wrapper iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }  	

/*--- contact form 7 ---*/
.wpcf7 input[type="text"], .wpcf7 input[type="email"], 
.wpcf7 input[type="password"], .wpcf7 textarea { padding: 15px 15px; width: 100%;}
.wpcf7 span.wpcf7-form-control-wrap {display: block; padding-right: 30px; margin-top: 7px; }	

.footer-wrapper .wpcf7 p{ margin-bottom: 10px; }
.footer-wrapper .wpcf7 input[type="text"], .footer-wrapper .wpcf7 input[type="email"], 
.footer-wrapper .wpcf7 input[type="password"], .footer-wrapper .wpcf7 textarea { padding: 15px 15px; width: 97%;}
.footer-wrapper .wpcf7 span.wpcf7-form-control-wrap { padding-right: 20px; margin-top: 5px; }	
	
/*--- background player ---*/	
.gdlr-bg-player{ position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.gdlr-player-overlay{ position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: #000; }

/*----------------------------------------------------------------------*/
/*---------------                RETINA               ------------------*/
/*----------------------------------------------------------------------*/	
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	blockquote, .gdlr-testimonial-item.plain-style .testimonial-item { background-image: url('images/dark/quote@2x.png'); }
	.gdl-search-form input[type="submit"] { background-image: url('images/dark/icon-search@2x.png'); }
	.page-not-found-search  .gdl-search-form input[type="submit"]{ background-image: url('images/light/icon-search@2x.png'); }
}	

.mejs-container .mejs-controls .gdlr-next-button,
.mejs-container .mejs-controls .gdlr-previous-button,
.gdlr-float-player .mejs-container .mejs-controls .mejs-playpause-button{ background: #dadada; color: #3b3b3b; }